h1 {
  color: red;
}

p {
  color: green;
}

/* クラスの追加 */
.special {
  color: orange;
  font-weight: bold;
}

/* 文書内の場所に基づくスタイル設定 */
li em {
  color: rebeccapurple;
}

h1 + p {
  font-size: 200%;
}

/* 状態に基づくスタイル設定 */
a:link {
  color: pink;
}

a:visited {
  color: gray;
}

a:hover {
  text-decoration: none;
}

/* セレクターと結合子の組み合わせ */
h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}
