h1 {
  color: red;
}

p {
  color: green;
}

/* クラスの追加 */
.special {
  color: orange;
  font-weight: bold;
}

/* 文書内の場所に基づくスタイル設定 */
li em {
  color: rebeccapurple;
}

h1 + p {
  font-size: 200%;
}

/* 状態に基づくスタイル設定 */
a:link {
  color: pink;
}

a:visited {
  color: gray;
}

a:hover {
  text-decoration: none;
}

/* セレクターと結合子の組み合わせ */
h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

/* calc()関数 */
.outer {
  border: 5px solid black;
}

.box {
  padding: 10px;
  width: calc(90% - 30px);
  background-color: rebeccapurple;
  color: white;
}

/* 座標変換関数 */
.box2 {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: blue;
  transform: rotate(1.2turn);
}